VITE_API_BASE_URL=https://api.industry.ygys30ds.cloud
VITE_STATIC_BASE_URL=https://static.industry.ygys30ds.cloud
VITE_PRIVACY_POLICY_URL=
VITE_SUPPORT_EMAIL=
VITE_SUPPORT_URL=
VITE_TERMS_OF_SERVICE_URL=
